@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    line-height: 1.5;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    background-color: #0D021A;
    font-weight: 400;
}

.item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 14px 0;
    border-bottom: 1px solid rgba(255,255,255,.06);
}

.item:hover {
    background-color: #2a1b39;
}

.item:last-child {
    border-bottom: 0px;
}

.item .item-id {
    width: 4%;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.item:first-child .item-id {
    color:#4a90e2;
}
.item:nth-child(2) .item-id {
    color:#50e3c2;
}
.item:nth-child(3) .item-id {
    color:#e4340d;
}

.item .item-img {
    margin-right: 15px; 
}
.item .item-img img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.item .item-info {
    width: 45%;
}

.item .item-info .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.36;
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}

.item .item-info .author {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    color: #a0a0a0;
    text-transform: capitalize;
}

.item .item-time {
    width: 10%;
    text-align: center;
    font-size: 12px;
    color: #a0a0a0;
}
.item .extension {
    width: 36%;
    text-align: right;
}
.item .extension ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.item .extension .list-buttons >ul li {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    line-height: 22px;
}
.item .extension .list-buttons >ul li:hover {
    background-color: rgba(255,255,255,.101961);
}
.item .extension .list-buttons {
    position: relative;
}
.item .extension .dropdown-menu-list {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border-radius: 8px;
    background-color: #231F3B;
    width: 280px;
    text-align: left;
    padding: 15px;
}
.song-infor .thumb img{
    width: 40px;
    height: 40px;
}

.song-infor {
    display: flex;
    margin-bottom: 20px;
}

.song-infor .thumb {
    margin-right: 15px;
}

.song-infor .card-infor {
    color:#fff;   
}

.song-infor .card-infor .title {
    text-transform: capitalize;
}

.song-infor .log-stats {
    display: flex;
    font-size: 12px;
    color: #a0a0a0;
    font-weight: 300;
}
.song-infor .log-stats .view{
    margin-right: 20px;
}

.list-buttons .dot {
    position: relative;
}
.list-buttons .dot::before {
    content: '\f111\f111\f111';
    font-family: Fontawesome;
    font-size: 4px;
}
.block-menu {
    display: flex;
    justify-content: space-between;
    background-color: #1a162f;
    border-radius: 8px;
    margin-bottom: 10px;
}
.block-menu a {
    color: #fff;
    padding: 10px 15px;
}
.block-menu a:hover {
    color: #fff;
}

.block-menu a i {
    display: block;
    text-align: center;
}

.block-menu a.z-disable {
    pointer-events: none;
    opacity: .3;
}

.block-menu a span  {
    font-size: 11px;
    text-transform: capitalize;
}

.block-item .list-item {
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 10px 0;
}
.block-item .list-item i {
    margin-right: 10px;
}